/* General */
@import url('https://fonts.googleapis.com/css?family=Titan+One');
@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans');
@import url('https://fonts.googleapis.com/css?family=Indie+Flower');

*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
.cpindex{
    background-color: #333;
}
div{
    overflow: hidden;
}
ul {
    list-style: none;
}
/* Barra con logo para ir al inicio */
.menu{
    position: relative;
    left: 201px;
    width: auto;
    height: 63px;
    background-color: #2a2a2a;
}
.menu a{
    display: table;
}
.menu li{
    position: absolute;
    top: 0px;
    left: 410px;
    display: table;
    list-style: none;
}
.menu li img{
    width: 70px;
    height: 62px;
}
.menu p{
    position: absolute;
    top: 0;
    left: 480px;
    font-size: 55px;
    font-family: 'Indie Flower', cursive;
    color: white;
}
#anulador{
    position: relative;
    left: 0px;
    height: 63px;
    width: 100%;
    background-color: #2a2a2a;    
}
#anulador li{
    left: 45%;
}
#anulador p{
    left: 50%;
}
/* diseño sidebar */
.sd{
    top: 0;
    position: absolute;
    height: 637px;
    width: 200px;
    color: #fff;
    background-color: #333;
    outline: solid 1px #2a2a2a;
}.cpindex nav{
    position: fixed;
}
.sd h2{
    padding: 20px;
    background: #2a2a2a;
    text-align: center;
}
.sd li{
    background: #333;
    outline: solid 1px #2a2a2a;
    transition-property: border-left;
    transition-duration: 0.3s;
}
.sd li:hover{
    background-color: #2a2a2a;
    border-left: 5px solid #eee;
}
.sd a{
    padding: 12px;
    color: #fff;
    text-decoration: none;
    display: block;
}
.sd img{
    margin-right:40px;
    width: 30px;
    height: 30px;
}
/* contenido */
.contenido{
    position: absolute;
    width: 100%;
    background: #eee;
    padding: 10px;
    box-sizing: border-box;
    transform: translateX(0px);
    transition: transform .35s;
}
.menu-bar{
    width: 50px;
    height: 50px;
    cursor: pointer;
}
.abrir{
    transform: translateX(200px);
}
.h2{
    color: rgba(255, 255, 255, 0);
    transition: color .35s;
}
.most{
    color: rgba(255, 255, 255, 1);
}
/* diseño slidebar */
#ntp{
    width: 6000px;
    float: left;
}
.imags1{
    position: relative;
    transform: translate(0px);
    transition: transform 0.5s 0s;
    visibility: visible;
}
.des1{
    transform: translate(0px);
    transition: transform 0.5s 0s;
}
.imags2{
    position: relative;
    transform: translate(0px);
    transition: transform 0.5s 0s;
}
.des2{
    transform: translateX(1145px);
    transition: transform 0.5s 0.3s;
}
.imags3{
    position: relative;
    transform: translate(0px);
    transition: transform 0.5s 0s;
}
.des3{
    transform: translateX(2290px);
    transition: transform 0.5s 0.3s;
}
.desl3{
    transform: translateX(1145px);
}
.deslizar{
    transform: translateX(-1145px);
}
.deslizar2{
    transform: translateX(-2290px);
}
.enviaralfinal{
    transform: translateX(1145px);
    animation: man .3s 1 linear 0s normal;
}
.gene{
    transform: translateX(0px);
}
.mano{
    position: absolute;
    top: 200px;
    left: 10px;
    width: 50px;
    height: 50px;
    visibility: hidden;
}
.mana{  
    visibility: visible;
}
/* Contenido pagina */
#section2{
    position: relative;
    top: 3px;
    left: 203px;
}
#sectionA{
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    margin: auto;
    transition: margin .35s 0s;
}
#section2,#sectionA{
    width: 1145px;
    height: 250px;
    border-bottom-right-radius: 20px;
    overflow: hidden;
}
#section2 article section, #sectionA article section{
    position: absolute;
    top: 0;
    width: 1145px;
    height: 100%;
    background-color: rgba(51, 51, 51, .3);
    transition: background-color .5s;
    overflow: hidden;
}
#section2:hover article section, #sectionA:hover article section{
    background-color: rgba(51, 51, 51, .7);
}
#section2 article ul:nth-child(1) li img, #sectionA article ul:nth-child(1) li img{
    position: relative;
    top: 210px;
    height: 300px;
    width: 1145px;
    filter: blur(0px);
    transition: flur .3s;
    transform: translateY(-250px);
    float: left;
}
#section2:hover article ul:nth-child(1) li img, #sectionA:hover article ul:nth-child(1) li img{
    filter: blur(1.5px);
}
 #section2 article section ul:nth-child(1), #sectionA article section ul:nth-child(1){
    position: absolute;
    bottom: 0;
    right: 0;
    width: 130px;
    height: 29px;
    background-color: rgb(28, 174, 231,.6);
    border-top-left-radius: 30px;
    transition: background-color .3s;
}
#section2:hover article section ul:nth-child(1), #sectionA:hover article section ul:nth-child(1){
    background-color: rgb(28, 174, 231,1);    
}
#section2 article section ul:nth-child(1) div, #sectionA article section ul:nth-child(1) div{
    margin-left: 20px;
    color: white;
    font-size: 24px;
    display: inline-block;
    cursor: pointer;
}
.des{
    position: absolute;
    top: 35px;
    left: 50px;
    width: 300px;
    height: 90px;
    background-color: rgba(43, 43, 43, 0.7);
    transition: background-color .35s;
}
#section2:hover article section ul:nth-child(2),
#section2:hover article section ul:nth-child(3),
#section2:hover article section ul:nth-child(4),
#sectionA:hover article section ul:nth-child(2),
#sectionA:hover article section ul:nth-child(3),
#sectionA:hover article section ul:nth-child(4){
    background-color: rgb(58, 58, 58);
}
.des h1, .des p,.des a{
    color: #eee;
}
.des h1{
    margin: 20px;
    border-bottom: solid 1px #333333;
    transition: border-bottom .35s;
}
#section2:hover article section ul:nth-child(2) h1,
#section2:hover article section ul:nth-child(3) h1,
#section2:hover article section ul:nth-child(4) h1,
#sectionA :hover article section ul:nth-child(2) h1,
#sectionA :hover article section ul:nth-child(3) h1,
#sectionA :hover article section ul:nth-child(4) h1{
    border-bottom: solid 1px rgb(34, 34, 34);
}
.des li{
    position: relative;
    top: 3px;
    left: 17px;
    display: inline-block;
}
.des li:nth-child(2) a{
    margin-right: 20px;
}
.des li:nth-child(3) a{
    margin-right: 20px;
}
.des li:nth-child(4) a{
    margin-left: 40px;
}
.cpindex .s3{
    position: relative;
    top: 6px;
    left: 201px;
    height: 291px;
    width: 1140px;
}
.cpindex .s3 #su{
    color: #319AA9;
    margin-left: 20px;
    font-size: 17px;
    font-family: 'Titan One', cursive;
}
.cpindex .s3 ul{
    position: absolute;
    top: 0px;
    left: 130px;
    height: 200px;
    width: 800px;
}
.cpindex .s3 ul li{
    position: absolute;
    top: 20px;     
    width: 200px;
    height: 260px;
    overflow: hidden;
}
.cpindex .s3 ul li:hover{
    width: 300px;
}
.cpindex .s3 ul li:nth-child(2) {
    left: 700px;
}
.cpindex .s3 ul li:nth-child(3) {
    left: 350px;
}
.cpindex .s3 ul li .a{
    width: 200px;
    height: 260px;
    border-radius: 2px;
    background-color: #319AA9;
    transition: .5s;
    border-radius: 4px;
    display: inline-block;
}
.cpindex .s3 ul li:hover .a{
    width: 300px;
    height: 200px;
    background-color: rgba(94, 94, 94,.5);
}
.cpindex .s3 ul li a img{
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 4px;
    transition: .5s;
}
.cpindex .s3 ul li:hover a img{
    width: 150px;
    height: 150px;
    opacity: .75;
}
.cpindex .s3 ul li a h1{
    position: relative;
    top: 200px;
    left: 0;
    margin: 10px;
    width: 170px;
    font-size: 14px;
    font-family: 'Alegreya Sans', sans-serif;
    color: #cfd0d6;
    border-bottom: solid 1.3px #1e6de4;
    transition-property: top, left;
    transition-duration: 0s, .5s;
    animation: animacion2 .3s 1 linear 0s normal;
}
.cpindex .s3 ul li:hover a h1{
    top: 10px;
    left: 150px;
    width: 130px;
    animation-name: animacion;
    animation-duration: .3s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-delay:0s;
    animation-direction: normal;
}
.cpindex .s3 ul li:nth-child(1):hover a h1{
    font-size: 12px;
}
.cpindex .s3 ul li p:nth-child(4){
    position: absolute;
    top: 0;
    left: 0;
    padding: 0px 85px;
    font-size: 12px;
    color: rgba(207, 208, 214, 0);
    font-family: 'Alegreya Sans', sans-serif;
    transform: translate(200px,45px);
    transition-property: color, transform;
    transition-delay: .1s;
    transition-duration:.45s,.45s;
    animation: animacion2 .3s 1 linear 0s normal;
}
.cpindex .s3 ul li:hover  p:nth-child(4){
    transform: translate(80px,45px);
    color: #cfd0d6;
    animation-name: animacion;
    animation-duration: .35s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-delay:0s;
    animation-direction: normal;
}
.cpindex section:nth-child(10) ul li:nth-child(3)  p:nth-child(4){
    transform: translate(200px,60px);
}
.cpindex section:nth-child(10) ul li:nth-child(3):hover  p:nth-child(4){
    transform: translate(80px,60px);
}
 .cpindex section:nth-child(3) ul li:nth-child(1):hover  p:nth-child(4){
    transform: translate(200px,52px);
}
 .cpindex section:nth-child(3) ul li:nth-child(1):hover  p:nth-child(4){
    transform: translate(80px,52px);
}

.cpindex .s3 ul li p:nth-child(3){
    position: absolute;
    top: 237px;
    left: 12px;
    color: #eee;
    font-size: 14px;
    animation: animacion .35s 1 linear 0s normal;
}
.cpindex .s3 ul li:hover p:nth-child(3){
    top: 155px;
    left: 5px;
    font-size: 10px;
    animation: animacion2 .32s 1 linear 0s normal;
}
/* Pagina de accion */
.contenido2,.redu{
    width: 85%;
}
.c{
    position: relative;
    top: 230px;
}

 @keyframes animacion{
     0%{
         visibility: hidden;
     }
     100%{
        visibility: hidden;
    }
 }
 @keyframes animacion2{
    100%{
        visibility: hidden;
    }
    0%{
       visibility: hidden;
   }
}

@keyframes man{
    0%{
        visibility: hidden;
    }
    99%{
        visibility: hidden;
    }
    100%{
       visibility: visible;
   }
}